html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#map {
  position: fixed;
  inset: 0;
  background: black;
  touch-action: none;
}

/* 検索UI */
#searchBox {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

#searchBox input {
  padding: 8px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
}
